body {

    margin: 0;
    background-color: rgb(188, 218, 228);

}



header {

    text-align: center;
    background-color: aquamarine;
    border: 2px solid aquamarine;

}

nav ul {
    list-style-type: none;
    display: flex;
/* border: 1px solid red; */
    padding: 0;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 0.3em;
    /* justify-content: center; */


}

nav li {
flex-grow: 1;
    /* margin: 0 1em; */

}

nav a {

    text-decoration: none;
    font-size: medium;

}

header p {
    font-size: medium;
    font-weight: bolder;
    margin-top: 0;
}

header h1 {
    margin-bottom: 0.1em;
    font-size: 2rem;

}


.container_for_all_info {
min-width: 340px;
    width: 80%;
    border: 2px solid black;
    margin: 0 auto;
    padding: 0.5em;
    background-image: url(cubes.jpg)
}


.container_for_all_info .brief_intro {
    min-height: 300px;
    border: 1px solid red;
    margin: 0 auto;


}

.container_for_all_info > div {
    width: 60%;
    min-width: 290px;
    border: 1px solid black;
    padding: 0.5em 1em;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
    background-color: rgba(222, 232, 243, 0.788);
    font-weight: bold;

}



footer {
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin: 0 auto;
    text-align: center;


}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    padding: 0.5em;
    flex-wrap: wrap;



}


footer a {

    font-size: larger;
    color: black;
    font-weight: bolder;
    padding: 0 1em;
}


footer li {
    list-style-type: none;
    padding: 0.4em 0;


}