* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgb(23, 23, 22);
}

.result {
    width: 95%;
    margin: 0 auto;
    border: 2px solid rgb(26, 28, 25);
    background-color: rgb(23, 23, 22);
    min-height: 200px;
    max-width: 700px;
    display: none;
}

.result>div {
    /* border: 2px solid black; */
    font-size: 1.6rem;
    width: fit-content;
    margin-left: 1em;
    margin-top: 0.4em;
}

.container_for_mcqs {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    background: rgb(255, 255, 255, 0.8);
}


.container_for_mcqs .q1 {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}

.container_for_mcqs .q1>label {
    font-size: 1.5rem;
    font-weight: bolder;
    width: 98%;
    margin: 0 auto;
    padding: 0 0.2em 0 0.3em;
} 

.container_for_mcqs .q1>div {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 1.3rem;
    padding: 0.2em 0.4em;
    width: 95%;
    margin: 0 auto;
}

.container_for_mcqs .q1>div>div {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 0.35em 0.5em;
}

.container_for_mcqs input:checked .container_for_mcqs .q1>div>div {
    background-color: red;
    color: red;
}

button {
    display: block;
    margin: 0 auto;
    font-size: larger;
    font-weight: bold;
    padding: 0.4em 1em;
}


@media (max-width:500px) {
    .container_for_mcqs {
        width: 98%;
    }

    .result>div {
        font-size: 1.3rem;
    }
}

.wrong-answer {
    background-color: red;
}